canvas.sample-drawing-canvas-element
{
	height:100%;
	width:100%;
}

h3.sample {
	font-size: 14px;
	color: #404073;
	text-decoration:underline;
}

div.sample-container {
	border-bottom:1px solid #000;
	margin:5px;
}

div.sample {
	margin-bottom:5px;
}

div.sample-drawing-canvas-container {
	cursor:crosshair;
	margin-bottom:5px;
	height:100%;
	width:100%;
	position:relative;
	top:0px;
	margin:auto;
}

div.sample-drawing-svg-container {
	height: 100%;
	width:100%;
	position: relative;
	top: -100%;
}

div.draw-area {
	width:100%;
	height:25%;
	background-color:#ffffff;
}
